body{
   text-align: center;
        padding-top:800px;
}

.profile {
    width: 175px;
    margin-bottom: 50px;
    border-radius: 50%;
}

#welcome{
    position: absolute;
    height: 800px;
    color:aliceblue;
    text-shadow: 5px 5px 5px black, 0 0 20px blue, 0 0 10px white;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    opacity: 0.83;
    background: linear-gradient(#a4fca6 0%, #0e00ad 100% );
        overflow: hidden;
    display:table;
    width:100%;
        height:100%; 
}
;
h1{
    font-size:40px;
    font-family:fantasy;
    font-weight:bold;
    line-height: 1.2;
      
}
#name{
    font-size:40px;
    font-family: 'Dancing Script', cursive;
    font-weight:bold;
    line-height: 1.2;
      
}

h2{
    font-size:40px;
    font-family:cursive;
    font-weight:bold;
    line-height: 1.2;
      
}
#bio{
    padding:50px;
    text-align:center;
    font-size:40px;
}
.line{
   height: 6px;
    background-color: black;
    width: 70px;
    margin: auto;
    
}

p{
    text-align: center;
    width:100%;
    height:100%;
    font-size:30px;
    line-height:1.3;
}

.menu{
    list-style: none;
    font-family: Lucida Handwriting;
position:absolute;
    top:10px;
    right:30px;
    z-index:10;
    cursor: pointer;
}

.links{
    float:left;
    color:aqua;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    font-family:fantasy;
    font-size:20px;
    }


.links:hover {
    background-color: #0028db;
    
}

